@import "@fontsource/geist/500.css";
@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Geist', sans-serif;
  font-weight: 500;
}

body {
  background: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
